html {
  @apply bg-white;
  scrollbar-width: thin;
  scrollbar-color: #37bcc8 ​​#ffffff;
}

body {
  @apply font-body relative m-0 p-0;
}

.bg-blur {
  backdrop-filter: blur(5px);
}

.-z-2 {
  z-index: -2;
}
del {
  @apply text-neutral-300;
}
